*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}

html,body{
height:100%;
width:100%;
}

@font-face {
  font-family: robotoo;
  src: url(./Roboto_Slab.zip);
}



.moving-in{
  animation-name: moving;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes moving {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
