*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}

html,body{
height:100%;
width:100%;
}

@font-face {
  font-family: robotoo;
  src: url(./Roboto_Slab.zip);
}
@font-face {
  font-family: pxiby;
  src: url(./pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2);
}




.moving-in{
  animation-name: moving;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes moving {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}


.elem .moving{
  transform: translate(0,-45%) scaleY(0);


}

.elem:hover .moving{
  transform: translate(0,-45%) scaleY(1);
 

}

.elem h1{
  color: #FFF;
  font-size: 4vw;
}

.elem:hover h1{
  font-size: 5vw;
 font-style: italic;
 transition: all ease 0.5s;
 
}

.blur{
  transform: translate(-50%,-50%);
}